In [2]:
import pandas as pd

# Read the dataset
data = pd.read_csv('Resources/IBM-HR-Employee-Attrition.csv')

# Count the occurrences of each class in the Attrition column
attrition_counts = data['Attrition'].value_counts()

# Calculate the desired count for each class
desired_count_no = int(1471 * 0.6)  # 60% of total rows
desired_count_yes = int(1471 * 0.4)  # 40% of total rows

# Filter rows for each class and balance the data
data_no = data[data['Attrition'] == 'No'].sample(n=min(desired_count_no, attrition_counts['No']), random_state=42)
data_yes = data[data['Attrition'] == 'Yes'].sample(n=min(desired_count_yes, attrition_counts['Yes']), random_state=42)

# Concatenate the balanced data
balanced_data = pd.concat([data_no, data_yes])

# Shuffle the dataset
balanced_data = balanced_data.sample(frac=1, random_state=42)

# Optional: You can save the balanced dataset to a new CSV file if needed
# balanced_data.to_csv('balanced_dataset.csv', index=False)

# Now you have the balanced dataset with 60% 'No' and 40% 'Yes' Attrition

In [3]:
balanced_data

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
873,36,No,Travel_Rarely,917,Research & Development,6,4,Life Sciences,1,1221,...,3,80,1,7,4,3,7,7,1,7
509,33,No,Travel_Frequently,1296,Research & Development,6,3,Life Sciences,1,692,...,3,80,1,15,2,1,13,11,4,7
614,26,Yes,Travel_Frequently,887,Research & Development,5,2,Medical,1,848,...,1,80,1,8,2,3,8,7,1,7
69,36,Yes,Travel_Rarely,318,Research & Development,9,3,Medical,1,90,...,1,80,1,2,0,2,1,0,0,0
85,56,No,Travel_Rarely,1400,Research & Development,7,3,Life Sciences,1,112,...,1,80,0,37,3,2,6,4,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,31,No,Travel_Rarely,329,Research & Development,1,2,Life Sciences,1,530,...,3,80,1,4,3,3,4,2,3,2
70,59,No,Travel_Frequently,1225,Sales,1,1,Life Sciences,1,91,...,4,80,0,20,2,2,4,3,1,3
797,26,Yes,Travel_Rarely,1330,Research & Development,21,3,Medical,1,1107,...,3,80,1,1,0,2,1,1,0,0
1339,22,Yes,Travel_Rarely,391,Research & Development,7,1,Life Sciences,1,1878,...,1,80,0,1,2,3,1,0,0,0
937,39,No,Travel_Rarely,412,Research & Development,13,4,Medical,1,1307,...,4,80,2,21,4,3,19,9,15,2